<div class="row">
  <h1 class="col s12 m12 l12 page-title">Welcome to the survey widget!</h1>
</div>

<div class="center-align buttons">
  <%= link_to "LOGIN", new_session_path, class: "waves-effect waves-light btn-large" %><br>
  <%= link_to "REGISTER", new_user_path, class: "waves-effect waves-light btn-large" %>
</div>